astroid==3.2.4
certifi==2024.7.4
charset-normalizer==3.3.2
decorator==4.4.2
dill==0.3.8
dnspython==2.6.1
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
isort==5.13.2
jedi==0.19.1
mccabe==0.7.0
moviepy==1.0.3
numpy==2.0.1
parso==0.8.4
pika==1.3.2
pillow==10.4.0
platformdirs==4.2.2
proglog==0.1.10
pylint==3.2.6
pymongo==4.8.0
requests==2.32.3
setuptools==72.1.0
tomlkit==0.13.0
tqdm==4.66.4
urllib3==2.2.2
